[project]
	description = test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/giangnguyenpham
[access "refs/for/refs/*"]
	read = group user/giangnguyenpham
	push = group user/giangnguyenpham
	label-Code-Review = -2..+2 group user/giangnguyenpham
	label-Verified = -1..+1 group user/giangnguyenpham
	rebase = group user/giangnguyenpham
	removeReviewer = group user/giangnguyenpham
	submit = group user/giangnguyenpham
[access "refs/heads/*"]
	read = group user/giangnguyenpham
	create = group user/giangnguyenpham
	push = +force group user/giangnguyenpham
	pushMerge = group user/giangnguyenpham
[access "refs/tags/*"]
	push = +force group user/giangnguyenpham
	pushTag = group user/giangnguyenpham
	pushSignedTag = group user/giangnguyenpham
